@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* definido aqui as cores principais a serem usadas como var */
:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #434347;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37dc7;
  --green-400: #15a076;
  --green-500: #00875f;
  --green-primary: #00995d;
  --green-secTrans: #10ad6fe8;

  --red-500: #f75a68;
}

/* definir a cor do corpo da aplicação */
body {
  background: var(--green-primary) !important;
  background: #f1f1f1;
}

/* definir o tamanho da fonte das td */
td {
  font-size: 13px;
}
